/script_output/SimConnLongForm2011.csv
/script_output/SimConnLongForm2011SamplingYear.csv
/script_output/SimConnLongForm2012.csv
/script_output/SimConnLongForm2012YearSampled.csv
/script_output/SimConnLongForm2013.csv
/script_output/SimConnLongForm2013YearSampled.csv
/script_output/SimConnLongForm2014.csv
/script_output/SimConnLongForm2014YearSampled.csv
/script_output/SimConnLongForm2015YearSampled.csv
/script_output/SimulationSummaryTables
/notebooks/.ipynb_checkpoints/
/script_output/backup_20210428/
/script_output/KernelFits/GenPlusSimKernels95CI.csv